
.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}


.container {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
 grid-template-rows: repeat(2, 400px);
grid-auto-rows: 400px;
grid-gap: 0px;
            }


html, body {
  background-color: black;
  margin: 0px
}


.container > div > img {
  width: 100%;
    height: 100%;
    object-fit: fill;
}

.class1 {
  font-family: lores-12, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 100px;
}

.class2 {

}


.class3 {
  font-family: lores-21-serif, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 100px;
}

.class4 {
  font-family: lores-12, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 100px;
}

.class5 {
  font-family: lores-9-wide, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 60px;
}

@-webkit-keyframes movieSkew {
  0% {
    -webkit-transform: translateY(0);
  }
  50% {
    color: white;
    -webkit-transform: translateY(200px) skewX(-20deg);
  }
  100% {
    -webkit-transform: translateY(400px) skewY(-30deg);
  }  
}

.class6 {
  font-family: lores-9-plus-wide, sans-serif;
font-style: normal;
font-weight: 700;
font-size: 100px;
-webkit-animation: movieSkew 3.5s linear infinite alternate; 
}

.container2 {
  position: relative;
   grid-column: 2 / span 2;
  top: 160px; left: 100px;
}


.bottom-right {
    position: absolute;
    font-family: lores-15, sans-serif;
font-style: normal;
font-weight: 700;
    font-size: 150px;
    color: #d9d900;
    top: 90px; left: 379px;

 
    }


  .grid-container {
  display: fixed;
  display: grid;
  grid-gap: 15px;
  background-color: black;
  grid-column: 1 / span 1;
  grid-row: 1 / span 13;
  justify-content: left;
  background-color: black;
  padding: -1000px;
  font-size: 30px;
  top: 50px; left: 180px;
}

.item1 {
  color: white;
  text-align: right;
  font-family: lores-12, sans-serif;
font-style: normal;
font-weight: 400;
}
.item2 {
  color: white;
  text-align: right;
  font-family: lores-15, sans-serif;
font-style: normal;
font-weight: 700;
}
.item3 {
  color: white;
  text-align: right;
  font-family: lores-22-bold-oakland, sans-serif;
font-style: normal;
font-weight: 400;
}
.item4 {
    color: white;
    text-align: right;
    font-family: lores-28, sans-serif;
font-style: normal;
font-weight: 400;
}
.item5 {
    color: white;
    text-align: right;
    font-family: lores-9-minus-wide, sans-serif;
font-style: normal;
font-weight: 400;
}
.item6 {
    color: white;
    text-align: right;
    font-family: lores-9-wide, sans-serif;
font-style: normal;
font-weight: 400;
}
.item7 {
    color: white;
    text-align: right;
    font-family: lores-9-plus-narrow, sans-serif;
font-style: normal;
font-weight: 700;
}
.item8 {
    color: white;
    text-align: right;
    font-family: lores-9-plus-wide, sans-serif;
font-style: normal;
font-weight: 700;
}

.container3 {
    display: fixed;
    display: grid;
    grid-gap: 45px;
    background-color: black;
    padding: 111px;
    font-size: 25px;
}

.item9 {
  color: white;
  font-family: lores-12, sans-serif;
font-style: normal;
font-weight: 400;
  
}
.item10 {
  color: white;
  font-family: lores-15, sans-serif;
font-style: normal;
font-weight: 700;
 
}
.item11 {
  color: white;
  font-family: lores-22-bold-oakland, sans-serif;
font-style: normal;
font-weight: 400;
 
}
.item12 {
  color: white;
  font-family: lores-28, sans-serif;
font-style: normal;
font-weight: 400;
}
.item13 {
  color: white;
  font-family: lores-9-minus-wide, sans-serif;
font-style: normal;
font-weight: 400;
 
}
.item14 {
  color: white;
  font-family: lores-9-wide, sans-serif;
font-style: normal;
font-weight: 400;
 
}
.item15 {
  color: white;
  font-family: lores-9-plus-narrow, sans-serif;
font-style: normal;
font-weight: 700;


}
.item16 {
  color: white;
  font-family: lores-9-plus-wide, sans-serif;
font-style: normal;
font-weight: 700;
}

.container4 {
  position: relative;
  top: 10px;
  left: 30px;
  width:70%;
  height:70%;
}

.container5 {
    justify-content: center;
    align-items: center;
    display: grid;
    grid-gap: 25px;
    font-size: 45px;
}

.item17 {
  color: white;
  font-family: lores-21-serif, sans-serif;
font-style: normal;
font-weight: 400;
  
}
.item18 {
  color: white;
  font-family: lores-21-serif, sans-serif;
font-style: normal;
font-weight: 400;
 
}
.item19 {
  color: white;
  font-family: lores-21-serif, sans-serif;
font-style: normal;
font-weight: 400;
 
}
.item20 {
  color: white;
  font-family: lores-21-serif, sans-serif;
font-style: normal;
font-weight: 400;

  
}
.item21 {
  color: white;
  font-family: lores-21-serif, sans-serif;
font-style: normal;
font-weight: 400;
 
}
.item22 {
  color: white;
  font-family: lores-21-serif, sans-serif;
font-style: normal;
font-weight: 400;
 
}
.item23 {
  color: white;
  font-family: lores-21-serif, sans-serif;
font-style: normal;
font-weight: 400;


}
.item24 {
  color: white;
  font-family: lores-21-serif, sans-serif;
font-style: normal;
font-weight: 400;
}

.container6 {
  position: grid;
  grid-column: 2 / span 2;
}

.container7 {
    justify-content: center;
    align-items: center;
    display: grid;
    grid-gap: 60px;
    font-size: 20px;
    color: #d9d900;
}

.item25 {

  font-family: lores-21-serif, sans-serif;
font-style: normal;
font-weight: 400;
  
}
.item26 {
  
  font-family: lores-21-serif, sans-serif;
font-style: normal;
font-weight: 400;
 
}
.item27 {
  
  font-family: lores-21-serif, sans-serif;
font-style: normal;
font-weight: 400;
 
}
.item28 {
  
  font-family: lores-21-serif, sans-serif;
font-style: normal;
font-weight: 400;
  
}
.item29 {
  
  font-family: lores-21-serif, sans-serif;
font-style: normal;
font-weight: 400;
 
}
.item30 {
 
  font-family: lores-21-serif, sans-serif;
font-style: normal;
font-weight: 400;
 
}
.item31 {
 
  font-family: lores-21-serif, sans-serif;
font-style: normal;
font-weight: 400;

}
.item32 {
    font-family: lores-21-serif, sans-serif;
font-style: normal;
font-weight: 400;
}

.container8 {
    justify-content: right;
    align-items: right;
    display: grid;
    line-height: .8;
    font-size: 70px;
    font-family: lores-21-serif, sans-serif;
font-style: normal;
font-weight: 400;
}

.item33 {
  color: white;
  font-family: lores-21-serif, sans-serif;
font-style: normal;
font-weight: 400;
  
}
.item34 {
  color: white;
  font-family: lores-21-serif, sans-serif;
font-style: normal;
font-weight: 400;
 
}
.item35 {
  color: white;
  font-family: lores-21-serif, sans-serif;
font-style: normal;
font-weight: 400;
 
}
.item36 {
  color: white;
  font-family: lores-21-serif, sans-serif;
font-style: normal;
font-weight: 400;
  
}
.item37 {
  color: white;
  font-family: lores-21-serif, sans-serif;
font-style: normal;
font-weight: 400;
 
}
.item38 {
  color: white;
  font-family: lores-21-serif, sans-serif;
font-style: normal;
font-weight: 400;
 
}
.item39 {
  color: white;
  font-family: lores-21-serif, sans-serif;
font-style: normal;
font-weight: 400;

}
.item40 {
  color: white;
  font-family: lores-21-serif, sans-serif;
font-style: normal;
font-weight: 400;
}

.container9 {
  position: relative;
  top: 10px;
  left: 30px;
  width:70%;
  height:70%;
}

@-webkit-keyframes movieSkew {
  0% {
    -webkit-transform: translateY(0);
  }
  50% {
    color: white;
    -webkit-transform: translateY(200px) skewX(-20deg);
  }
  100% {
    -webkit-transform: translateY(400px) skewY(-30deg);
  }  
}

.item41 {
color: #d9d900;
font-family: lores-9-wide, sans-serif;
font-style: normal;
font-weight: 400;
text-align: right;
    font-size: 40px;
    grid-column: 2 / span 2;
    grid-row: 1 / span 13;
  display: grid;
  padding: 111px;
  -webkit-animation: movieSkew 3.5s linear infinite alternate;  
}


