$bgcolor: pink;

* {
  box-sizing: border-box;
}

body {
  padding: 50px;
  background: $bgcolor;
}

.mug {
  position: relative;
  height: 300px;
  width: 250px;
  margin: auto;
  padding-top: 100px;
  background: linear-gradient(right, #ddd 0, white 100%);
  background-color: white;
  border-top-left-radius: 125px 50px;
  border-top-right-radius: 125px 50px;
}

.mug:before {
  content: "";
  position: absolute;
  height: 100px;
  width: 250px;
  bottom: -50px;
  border-radius: 50%;
  background: linear-gradient(right, #ddd 0, white 100%);
  background-color: white;
}

.mug:after {
  content: "";
  position: absolute;
  height: 70px;
  width: 220px;
  top: 10px;
  left: 15px;
  border-radius: 50%;
  background: linear-gradient(top, #eee 0, black 100%);
  box-shadow: 0 0 15px #eee;
}

.handle {
  position: absolute;
  height: 200px;
  width: 120px;
  top: 70px;
  left: -120px;
  border-top-left-radius: 75px 100px;
  border-bottom-left-radius: 75px 100px;
  border-top-right-radius: 50% 20px;
  border-bottom-right-radius: 50% 20px;
  background: linear-gradient(right, #eee 0, white 100%);
  background-color; white;
}

.handle:after {
  content: "";
  position: absolute;
  height: 140px;
  width: 90px;
  top: 30px;
  right: 0;
  border-top-left-radius: 45px 70px;
  border-bottom-left-radius: 45px 70px;
  border-top-right-radius: 45px 35px;
  border-bottom-right-radius: 45px 35px;
  background: $bgcolor;
  box-shadow: -5px 10px 20px #ccc;
}