body {
    font-family: Arial;
    font-size: 25px;
    color: magenta;
    line-height: 1.0;
    text-align: center;
    background-image: linear-gradient(pink, yellow, orange)
    }
    
}

.h2 {
    color: orange;

    })

